@tailwind base;
@tailwind components;
@tailwind utilities;

.img-logo {
  width: 150px;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.img-logo:hover {
  transform: scale(1.1) rotate(2deg);
}